/* 
    Created on : 29/09/2021
    Author     : Alberto Fernandez Ramirez
   
*/
/*test @import url(//db.onlinewebfonts.com/c/3a47f5f06b5484abfeee9eac90348a9c?family=Gotham);*/
@font-face{font-family: "Gotham-Medium";
           src: url("3a47f5f06b5484abfeee9eac90348a9c.eot");
           src: url("3a47f5f06b5484abfeee9eac90348a9c.eot?#iefix") format("embedded-opentype"),
               url("3a47f5f06b5484abfeee9eac90348a9c.woff2") format("woff2"),
               url("3a47f5f06b5484abfeee9eac90348a9c.woff") format("woff"),
               url("3a47f5f06b5484abfeee9eac90348a9c.ttf") format("truetype"),
               url("3a47f5f06b5484abfeee9eac90348a9c.svg#Gotham-Medium") format("svg");
}
*{
    box-sizing: border-box;
    margin: 0px; 
    padding: 0px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
@media (max-width: 1228px) {
    .container{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content:space-around;
        gap: 8px;
        margin-bottom: 108px;
    }
    .primerasfilas{
        width: 300px;
    }
}
@media (max-width: 668px) {
    .container{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-bottom: 128px;
    }
    .primerasfilas{
        width: 300px;
    }
}
body{
    background-repeat:no-repeat;
    background-attachment:fixed;
    position:relative;
    background-color:#EEEEEE;
}

/* INICIO Titulo*/
header h1{
    font-family: "Gotham-Medium";
    font-size:42px;
    text-transform:uppercase;
    color:white;
    padding-left:15px;
    padding-top:25px;
    padding-bottom:25px;
    padding-right:15px;
    background-color:#252525;
    border-bottom: grey solid 2px;
}
/* FIN Titulo */

/* IMAGENES */
.imagegithub{
    margin-right:5px;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.imagemenu{
    width: 240px;
    height: 220px;
    padding: 10px;
}
/* FIN IMAGENES */

/* INICIO subtitulo */
.segundot{
    font-family: "Gotham-Medium";
    font-size:19px;
    background-color:#252525;
    color:white;
    padding-left:15px;
    padding-top:25px;
    padding-bottom:25px;
    padding-right:15px;
    border-bottom: grey solid 2px;
}
/* FIN subtitulo */

/* INICIO Cuadros sobre las practicas realizadas */
.tabla{
    background-color:white;
    text-align:center;
    height: 318px;
    width: 298px;
}
table{
    float: left;
    border-collapse: collapse;
    margin-top: 8%;
    margin-left: 2.5%;
    justify-content: center;
}
table img{
    width: 390px;
    height: 370px;
    margin: 8px;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
}
table img:hover {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
.titulofoto{
    font-family: "Gotham-Medium";
    font-size:17px;
    text-transform:uppercase;
    text-align:center;
    background-color:white;
    color:#212121;
    margin-top:15px;
    margin-bottom:15px;
}
.tabla tr a{
    text-decoration:none;
}
/* FIN Cuadros sobre las practicas realizadas */

/* INICIO footer */
.piepagina{
    font-family: "Gotham-Medium";
    font-size: 14px;
    background-color:#DDDDDD;
    position: fixed;
    bottom: 0;
    padding-top: 5px;
    padding-bottom: 2px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.piepagina p{
    color:#33333D;
    text-align: center;
}
.piepagina p:first-of-type{
    margin-top: 6px;
    text-align: center;
}
/* FIN footer */
